html{
    font-family: sans-serif;
}
.body{
    background-color: rgb(235, 79, 79);
}
.fenetreDeJeu{
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.map{
    background-color: royalblue;   
}
.tile{
    display: flex; 
}
.tileDiv{
    width: 40px;
    height: 40px;
    background-color: rgb(93, 168, 125);
    background-image: url("./img/grass.PNG");
    background-size: cover;
}
.arbre{
    background-color: blue;
    background-image: url("./img/wood.png");
    background-size: cover;
}
.sortieOuest{
    background-color: rgb(125, 125, 173);
}
.sortieEst{
    background-color: rgb(125, 125, 173);
}
.player{
    position: relative;
    left: 7px;
    top: 7px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgb(23, 29, 36);
}
.sortieDepart{
    background-image: url("./img/grassStart.png")
}
.timer{
    color: white;
    width: 400px ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(153, 150, 145);
    display: flex;
    justify-content: center;
}